<html>
    <body>
        <h1>Movies- subscriptions web site</h1>
        <h3>Log in Page</h3>
        <form action="userValidation">
        <label>User Name:</label><input type="text" name="username">
        <br>
        <label>Password:</label><input type="text" name="password">
        <br>
        <input type="submit" value="Login">
        <h3>New User?</h3><a href="/login/CreateAccount" >Create Account</a>
        </form>
        </body>
    </html>