<html>


    <body>
        <style>
  .button {
    display: block;
    width: 115px;
    height: 25px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    margin-left: 3px;
}
.button:hover{
    background: blue;
}
.h{
    margin-left: 5%;
}
        </style>
        <span> hello </span>
        <h1 class="h">Movies- subscriptions web site</h1>
        <ul style="display: flex; list-style: none;">
            <li><a class="button" href="movies" >Movies</a></li>
            <li><a class="button"  href="subsciptions">Subscriptions</a></li>
            <li><a class="button"  href="users">User Managment</a></li>
            <li><a class="button"  href="login">Log Out</a></li>
        </ul>
        </body>
    </html>